webhook.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "events",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "b2b5bac6-f232-47ee-a39a-ad16c2726af5",
      "name": "Webhook (POST /events)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        192
      ],
      "webhookId": "outbox-events-webhook-prod"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers ?? {};\nconst rawBody = ($json.rawBody ?? $json.body ?? '').toString();\nconst secret = ($json.hmac_secret ?? '').toString();\n\n// Si estás en TEST (webhook-test) normalmente no vendrá firma.\n// Bypass controlado para pruebas.\nconst webhookUrl = $json.webhookUrl ?? '';\nconst isTest = webhookUrl.includes('/webhook-test/');\n\nfunction fail(reason) {\n  return [{\n    json: {\n      ...$json,\n      ok: false,\n      auth_ok: false,\n      error: reason,\n    }\n  }];\n}\n\nif (isTest) {\n  // En test dejamos pasar para validar el pipeline\n  return [{\n    json: {\n      ...$json,\n      ok: true,\n      auth_ok: true,\n      auth_bypass: true,\n    }\n  }];\n}\n\n// ---- PRODUCCIÓN: firma obligatoria\nconst sigHeader = (headers['x-signature'] || headers['X-Signature'] || '').toString();\nif (!secret) return fail('missing_secret');\nif (!sigHeader.startsWith('sha256=')) return fail('missing_or_invalid_signature_header');\nif (!rawBody) return fail('missing_raw_body');\n\nconst receivedSignature = sigHeader.replace('sha256=', '').trim();\nconst encoder = new TextEncoder();\n\nconst key = await crypto.subtle.importKey(\n  'raw',\n  encoder.encode(secret),\n  { name: 'HMAC', hash: 'SHA-256' },\n  false,\n  ['sign']\n);\n\nconst signatureBuffer = await crypto.subtle.sign('HMAC', key, encoder.encode(rawBody));\nconst computedSignature = Array\n  .from(new Uint8Array(signatureBuffer))\n  .map(b => b.toString(16).padStart(2, '0'))\n  .join('');\n\nif (computedSignature !== receivedSignature) return fail('invalid_signature');\n\nreturn [{\n  json: {\n    ...$json,\n    ok: true,\n    auth_ok: true\n  }\n}];\n"
      },
      "id": "e3b1059e-d5aa-4cc1-a22b-640422c82c1f",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.auth_ok}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "50b43a44-7435-47ce-90db-5f45cb8df002",
      "name": "IF Signature OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "63833bf5-7acc-41cf-b4c2-9f45bb911a10",
      "name": "Respond 401 (Invalid Signature)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -400,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let body = $json.body ?? $json.rawBody ?? {};\n\n  // 1. Si viene como string, intentamos parsear\n  if (typeof body === 'string') {\n    try {\n      body = JSON.parse(body);\n    } catch (e) { /* ignore */ }\n  }\n\n  // 2. Helper para buscar recursivamente un objeto que tenga 'correlationId' o 'correlation_id'\n  function findEventRoot(obj, depth = 0) {\n    if (!obj || typeof obj !== 'object' || depth > 3) return null;\n    \n    // Check actual\n    if (obj.correlationId || obj.correlation_id) return obj;\n\n    // Check hijos comunes donde n8n suele envolver cosas\n    const nextPoints = [obj.body, obj.data, obj.json, obj.payload];\n    for (const point of nextPoints) {\n      const found = findEventRoot(point, depth + 1);\n      if (found) return found;\n    }\n    return null;\n  }\n\n  // 3. Buscamos el objeto real del evento\n  // Primero probamos 'body', luego '$json' completo por si acaso\n  let eventObj = findEventRoot(body) || findEventRoot($json);\n\n  if (!eventObj) {\n    return [{ json: { success: false, error: 'missing_correlation_id_deep_search', inputKeys: Object.keys($json) } }];\n  }\n\n  const correlation_id = eventObj.correlation_id ?? eventObj.correlationId ?? null;\n  const event_type = eventObj.event_type ?? eventObj.eventType ?? 'unknown';\n  const aggregate_type = eventObj.aggregate_type ?? eventObj.aggregateType ?? null;\n  const aggregate_id = eventObj.aggregate_id ?? eventObj.aggregateId ?? null;\n  const received_at = eventObj.received_at ?? eventObj.ts ?? new Date().toISOString();\n  const payload = eventObj.payload ?? {};\n\n  return [{\n    json: {\n      success: true,\n      correlation_id,\n      event_type,\n      aggregate_type,\n      aggregate_id,\n      received_at,\n      payload\n    }\n  }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message } }];\n}"
      },
      "id": "44aa579d-1505-4be5-b776-b2f314814d79",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-47a8-b9c0-d1e2f3a4b5c6",
      "name": "IF Valid Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || 'bad_request' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "e5f6a1b2-c3d4-47e8-9f0a-b1c2d3e4f5a6",
      "name": "Respond 400 (Bad Request)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO incoming_events\n  (correlation_id, event_type, aggregate_type, aggregate_id, payload, received_at, processing_status)\nVALUES\n(\n  {{$node['Normalize Event'].json.correlation_id ? \"'\" + $node['Normalize Event'].json.correlation_id.replace(/'/g, \"''\") + \"'\" : \"NULL\"}},\n  {{$node['Normalize Event'].json.event_type ? \"'\" + $node['Normalize Event'].json.event_type.replace(/'/g, \"''\") + \"'\" : \"'unknown'\"}},\n  {{$node['Normalize Event'].json.aggregate_type ? \"'\" + $node['Normalize Event'].json.aggregate_type.replace(/'/g, \"''\") + \"'\" : \"NULL\"}},\n  {{$node['Normalize Event'].json.aggregate_id ? \"'\" + String($node['Normalize Event'].json.aggregate_id).replace(/'/g, \"''\") + \"'\" : \"NULL\"}},\n  {{ \"'\" + JSON.stringify($node['Normalize Event'].json.payload ?? {}).replace(/'/g, \"''\") + \"'::jsonb\" }},\n  {{$node['Normalize Event'].json.received_at ? \"'\" + $node['Normalize Event'].json.received_at.replace(/'/g, \"''\") + \"'::timestamptz\" : \"NOW()\"}},\n  'pending'\n)\nON CONFLICT (correlation_id) DO NOTHING\nRETURNING correlation_id;\n",
        "options": {}
      },
      "id": "01dbc7a3-fb21-4bc5-bc16-77198721a334",
      "name": "Postgres - Insert Inbox (Dedup)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        80,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "qyR2OAIR7tUEVcQf",
          "name": "Postgres-neon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// inserted=true si RETURNING devolvió correlation_id\n// Si fue duplicado, el nodo Postgres normalmente no devuelve items o no trae correlation_id\nconst inserted = !!($json && $json.correlation_id);\n\nreturn [{\n  json: {\n    inserted,\n    // reinyectamos correlation_id desde normalize (si el Postgres no devolvió nada)\n    correlation_id: $json.correlation_id || $node['Normalize Event'].json.correlation_id,\n    event_type: $node['Normalize Event'].json.event_type,\n    aggregate_type: $node['Normalize Event'].json.aggregate_type,\n    aggregate_id: $node['Normalize Event'].json.aggregate_id,\n    received_at: $node['Normalize Event'].json.received_at\n  }\n}];"
      },
      "id": "87e05531-078d-47fd-99e1-e24014ed00fc",
      "name": "Mark Inserted/Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.inserted}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "b93a95aa-5b0b-4282-a959-110330b5591e",
      "name": "IF New Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "tenant.validation.requested"
            }
          ]
        },
        "options": {}
      },
      "id": "f5bdba52-adfc-4668-b003-775152d0654f",
      "name": "IF event_type == tenant.validation.requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { route: 'tenant.validation.requested', correlation_id: $json.correlation_id, note: 'Evento en inbox. Un worker lo procesará (VerificaMex/AWS/etc.).' } }];"
      },
      "id": "62dbfcef-530f-46ff-87aa-74bcfd44ef97",
      "name": "Route: tenant.validation.requested",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { route: 'fallback', correlation_id: $json.correlation_id, note: 'Event type no mapeado. Queda en inbox pending.' } }];"
      },
      "id": "d346815f-2105-432a-ab2a-6ba0650d0abc",
      "name": "Route: fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  correlation_id: $node['Normalize Event'].json.correlation_id,\n  inserted: true,\n  route: $json.route,\n  received_at: $node['Normalize Event'].json.received_at\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d37d3536-f083-4227-9466-b062dc0d6642",
      "name": "Respond 200 (ACK - New)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  correlation_id: $node['Normalize Event'].json.correlation_id,\n  inserted: false,\n  duplicate: true,\n  received_at: $node['Normalize Event'].json.received_at\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6cb74ca6-53ba-4d76-bfbf-472904e7b54a",
      "name": "Respond 200 (ACK - Duplicate)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        832,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8b70e43-3d80-45cf-b563-db52b6b719d5",
              "name": "hmac_secret",
              "value": "pon_un_secret_largo_para_firmas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        192
      ],
      "id": "6bf35909-4a96-424c-aeaf-b787d22894c7",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook (POST /events)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "IF Signature OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signature OK?": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401 (Invalid Signature)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "IF Valid Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Event?": {
      "main": [
        [
          {
            "node": "Postgres - Insert Inbox (Dedup)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400 (Bad Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insert Inbox (Dedup)": {
      "main": [
        [
          {
            "node": "Mark Inserted/Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Inserted/Duplicate": {
      "main": [
        [
          {
            "node": "IF New Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF New Event?": {
      "main": [
        [
          {
            "node": "IF event_type == tenant.validation.requested?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 (ACK - Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF event_type == tenant.validation.requested?": {
      "main": [
        [
          {
            "node": "Route: tenant.validation.requested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: tenant.validation.requested": {
      "main": [
        [
          {
            "node": "Respond 200 (ACK - New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: fallback": {
      "main": [
        [
          {
            "node": "Respond 200 (ACK - New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37571b6e3b06c0ce894d50931b94c0b80b70f40d5b859a8ce717ce6c0e3d4b9d"
  }
}